doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Prateek Konduru\'s Portfolio')
        meta(name='author', content='Prateek Konduru')

        title Prateek Konduru - Portfolio

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Prateek Konduru
                span.d-none.d-lg-block
                    .img-profile-placeholder.rounded-circle.mx-auto.mb-2
                        i.fas.fa-user.fa-3x
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Professional Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#leadership') Leadership Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Certifications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Prateek
                        span.text-primary  Konduru
                    .subheading.mb-5
                        | 975 S 1st St San Jose CA 95110 · +1 (408) 334-6791 ·
                        a(href='mailto:pkonduru4@gmail.com') pkonduru4@gmail.com
                    p.lead.mb-5
                        | A passionate individual who always thrives to work on end-to-end products which develop sustainable and scalable social and technical systems to create impact. I have a strong interest in solving real-world problems through computer code. Proficient in C, Python, Full stack development, AWS Solution Architecture and Cloud Engineering with a strong sense of good design and always looking for opportunities to apply and expand my knowledge and skill set.
                    div
                        a.btn.btn-primary.social-icon.social-icons(href='#contact') Contact me
                        a.btn.btn-primary.social-icon.social-icons(href='https://drive.google.com/file/d/1SFw729J1x88toh4aLYjnbTN-w8Uj1qnm/view?usp=sharing', target='_blank') See my resume
                    br
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/prateek-konduru/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/prateekkonduru')
                            i.fab.fa-github
                        a.social-icon(href='#')
                            i.fab.fa-twitter
                        a.social-icon(href='https://www.facebook.com/prateek.konduru/')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Professional Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Technical Consultant
                            .subheading.mb-3 Ushur
                            p
                                | Leading advanced technical engagements and strategic solution architecture for enterprise clients. Driving innovation in AI-powered customer experience automation and delivering complex integrations across multiple platforms.
                            p
                                | Mentoring junior consultants and developing best practices for technical solution delivery. Spearheading research and development initiatives to enhance platform capabilities and client success metrics.
                        .flex-shrink-0
                            span.text-primary December 2024 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Consultant
                            .subheading.mb-3 Ushur
                            p
                                | Spearheaded client technical engagements, leading requirements discovery, and delivering compelling solution presentations and Proof of Concept builds to highlight the Ushur platform's capabilities and integration potential.
                            p
                                | Implemented secure and compliant AI-powered Customer experience automation environments, closely adhering to IT and governance frameworks to meet critical business requirements.
                            p
                                | Orchestrated customer-facing workshops and technical strategy sessions, ensuring seamless integration of the Ushur platform with both SaaS and internal applications, enhancing system interoperability and operational efficiency.
                            p
                                | Addressed customer technical questionnaires including architecture, delivering remote and on-site setup, integration, and second-level support to ensure efficient deployment and maintain high customer satisfaction and system performance.
                        .flex-shrink-0
                            span.text-primary June 2024 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Associate Technical Consultant
                            .subheading.mb-3 Ushur
                        .flex-shrink-0
                            span.text-primary October 2023 - June 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer - R&D Intern
                            .subheading.mb-3 EFI
                            p
                                | Developed Angular Electron app for precise nozzle detection and uniformity correction.
                            p
                                | Enhanced color correction uniformity module, resolving issues and introducing new features.
                            p
                                | Optimized Angular components for improved user experience and interface responsiveness.
                        .flex-shrink-0
                            span.text-primary June 2023 - October 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Cloud Engineering Intern
                            .subheading.mb-3 Zendesk
                            p
                                | Built a full-scale bot for slack that reacts to channel questions and provides helpful articles from Zendesk docs and StackOverflow, leading to time savings of 5+ hours per week for engineers and reduced wait time for people looking for help.
                            p
                                | Developed frontend using Bolt Python Framework and automated infrastructure deployment like AWS IAM, S3, Secrets Manager, and an ECR through Terraform and configured backend with Docker to package the functions as container images and deployed them to AWS Lambda.
                            p
                                | Engineered new features to automate workflows that create AWS IAM policies for engineers to manage services in AWS.
                        .flex-shrink-0
                            span.text-primary June 2022 - August 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Solutions Engineer
                            .subheading.mb-3 Oracle
                            p
                                | Architected and delivered innovative and scalable Cloud Solutions to Oracle customers to boost their businesses using Oracle's suite of products.
                            p
                                | Involved in all the phases of SDLC including Requirements Collection, Design and Analysis of the Customer Specifications, and Development and Customization of the Application.
                            p
                                | Designed, developed, and tested 30+ Proof of concepts using HTML5, CSS3, Bootstrap, JavaScript, and React.JS that meets accessibility and web browser standards for the website.
                            p
                                | Assisted in the RFP and RFI responses, creation, customization, and delivery of presentations, demonstrations, and proof-of-values that illustrate Oracle's technical fit, value, and differentiation for customers, partners, and prospects.
                            p
                                | Devised applications from scratch to migrate traditional workflow and outdated content management systems to improve performance benchmarks which led to improvement and consolidation of end-to-end service processes; restructured communication flow among 10 departments, and cut down paperwork by 75%.
                            p
                                | Participated and assisted in Inside Sales Representative team and Technical Office Hours.
                            p
                                | Oracle Spot Award - Exhibited exceptional performance to facilitate 12% revenue growth for one quarter. Created a knowledge base of 70 internal resources and achieved customer experience satisfaction ratings of 100%.
                        .flex-shrink-0
                            span.text-primary June 2019 - July 2021

            hr.m-0

            // Leadership Experience
            section#leadership.resume-section
                .resume-section-content
                    h2.mb-5 Leadership Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Student Assistant
                            .subheading.mb-3 Santa Clara University
                            p
                                | Partnered and collaborated with 10+ directors and web design teams to build strategic, informative, and accessibility (A11y) tested university websites. Analyzed Google Analytics data for implementing the best standards to increase web scalability, user engagement, and traffic.
                        .flex-shrink-0
                            span.text-primary December 2021 - June 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Graduate Technical Consultant
                            .subheading.mb-3 Miller Center for Social Entrepreneurship
                            p
                                | Conducted research, analysis, and due diligence on 8 social enterprises and drafted virtual dashboards to provide actionable insights to navigate through financial decisions.
                            p
                                | Published the findings in the impact report, and shared the results with stakeholders on a weekly basis.
                            p
                                | Designed a community portal using Salesforce digital experience cloud and assisted in the customization of the website to meet business growth needs, increased productivity by 25% by streamlining the internal process to meet customer's increased demand, resulting in a 40% increase in customer satisfaction.
                        .flex-shrink-0
                            span.text-primary December 2021 - June 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Media Systems Assistant
                            .subheading.mb-3 Santa Clara University
                            p
                                | Responsible for troubleshooting media equipment, software, and network issues with computer systems at Santa Clara University.
                            p
                                | Handle recording, editing, and publishing lecture recordings.
                            p
                                | Maintain Data Security across several distribution laptops for University use.
                        .flex-shrink-0
                            span.text-primary January 2022 - June 2023

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Santa Clara University
                            .subheading.mb-3 Master of Science
                            div Computer Science
                            p GPA: 3.75
                        .flex-shrink-0
                            span.text-primary September 2021 - June 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 PES University
                            .subheading.mb-3 Bachelor of Technology
                            div Electronics and Communication - Networking Track
                            p GPA: 3.67
                        .flex-shrink-0
                            span.text-primary June 2015 - May 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 PES University
                            .subheading.mb-3 Bachelor of Technology
                            div Minor Degree - Computer Science
                            p GPA: 3.78
                        .flex-shrink-0
                            span.text-primary December 2016 - July 2017

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 BetaBrain
                            .subheading.mb-3 Full Stack Application
                            p
                                | Programmed a React.js front-end and Node.js back-end with Express.js as well as a PostgreSQL database to create a Full-stack web app that uses the Clarifai API to locate a face in a picture.
                            p
                                | Allows users to create accounts and log in to track the number of images processed.
                            p
                                | Successfully deployed production level React Application and REST API using AWS Cloud.

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 IoT Based Real-time Pulse Monitoring and Geolocation Alerting system
                            .subheading.mb-3 Capstone Project
                            p
                                | Developed a cost-effective and convenient emergency IoT solution to provide immediate help for hypertensive patients at optimal times.
                            p
                                | Improved the overall response to get immediate help by 29% in urban and 51% in rural areas.
                            p
                                | Published a Research paper at International Journal of Engineering Research & Technology.

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 ParkSafe
                            .subheading.mb-3 Inrix Hackathon
                            p
                                | As part of the Hackathon organized by Inrix, we built a custom-developed API that provides available parking spots with the most safety factor within one mile. By safety factor, it means how likely is your car vulnerable to vehicle-related crimes(such as Larceny, arson, etc.). More the safety factor, safer is it to park your car at that particular spot.
                            p
                                | ParkSafe is a Flask-based web application that implements the Parksafe API which helps vehicle owners stay worry-free by identifying parking spots that are safe from theft and break-ins by mapping out crimes through historical data.


            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-kubernetes
                        li.list-inline-item
                            i.fab.fa-go
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-sql
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-git-alt
                        li.list-inline-item
                            i.fab.fa-npm
                    #skill-bars
                        p.text-left Python - 97%
                        .progress.mb-2(style='height: 1.5rem;')
                            .progress-bar(role='progressbar', aria-valuenow='97', aria-valuemin='0', aria-valuemax='100', style='width: 97%')
                        p.text-left C - 94%
                        .progress.mb-2(style='height: 1.5rem;')
                            .progress-bar(role='progressbar', aria-valuenow='94', aria-valuemin='0', aria-valuemax='100', style='width: 94%')
                        p.text-left JavaScript - 86%
                        .progress.mb-2(style='height: 1.5rem;')
                            .progress-bar(role='progressbar', aria-valuenow='86', aria-valuemin='0', aria-valuemax='100', style='width: 86%')
                        p.text-left AWS - 90%
                        .progress.mb-5(style='height: 1.5rem;')
                            .progress-bar(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%')
                        p.text-left Full Stack Development - 90%
                        .progress.mb-5(style='height: 1.5rem;')
                            .progress-bar(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%')

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Certifications & Publications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | IBM Data Science Professional
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | AWS Certified Developer
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Certified Oracle Cloud Architect Associate and Autonomous Database Specialist
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Oracle Spot Award - Exhibited exceptional performance to facilitate 12% revenue growth for one quarter, created a knowledge base of 80 internal resources and achieved customer experience satisfaction ratings of 100%
                        li
                            span.fa-li
                                i.fas.fa-atom.text-warning
                            | Published a research paper titled "IoT Based Real-time Pulse Monitoring and Geolocation Alerting system and Data Analysis" @ International Journal of Engineering Research & Technology

            section#contact.resume-section.p-3.p-lg-5
                .my-auto
                    h2.mb-3 Contact
                    ul.fa-ul.mb-4.ml-0
                        li#mail-address
                            a(href='mailto:pkonduru4@gmail.com')
                                i.fas.fa-envelope-open.mr-2
                                | pkonduru4@gmail.com
                        li
                            i.fas.fa-mobile-alt.mr-2
                            | +1 (408) 334-6791
                    p
                        | ...or leave your message below and I will be back to you as soon as possible.
                    form.contact-form(method='POST', action='https://formspree.io/f/xleowqqo')
                        .form-group
                            input.form-control(type='name', placeholder='Name', name='name', required)
                        .form-group
                            input.form-control(type='email', placeholder='Email', name='email', required)
                        .form-group
                            textarea.form-control(type='text', placeholder='Message', rows='7', name='message', required)
                        button.btn.btn-primary(type='submit') Submit

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Chatbot HTML (fallback)
        #chatbot-container
            #chatbot-button.chatbot-btn
                i.fas.fa-comments
                span.chatbot-badge 1
            #chatbot-window.chatbot-window
                .chatbot-header
                    h4 Ask me anything!
                    button#chatbot-close.chatbot-close
                        i.fas.fa-times
                #chatbot-messages.chatbot-messages
                .chatbot-input-container
                    .quick-replies#quick-replies
                    .input-group
                        input#chatbot-input(type='text', placeholder='Type your message...')
                        button#chatbot-send.chatbot-send-btn
                            i.fas.fa-paper-plane

        // Core theme JS
        script(src='js/scripts.js')
        script(src='js/chatbot.js')